
@charset "UTF-8";

.icons .btn{
  margin-bottom:10px;
}
.image-caption{
  width:90%;
  font-style:italic;
  margin-left:5%;
}
.research p.image-caption{
  font-size:20px;
}
.image-container{
  border-radius: 10px;
  background-color:#c9e5f6;

}
.image-row{
 padding-top:30px;
 padding-bottom:30px;
}
.image-row2{
  padding-top:30px;
  padding-bottom:10px;
 }
.image-column{

}
.research ol{
  font-size:22px;
}
.research li{
  font-size:22px;
}
.research p {
  font-size: 22px;
}
.section-top{
  padding-top:170px!important;
}
.research.page-section {
  padding-top:2rem;
  padding-bottom:2rem;
}
.top-section{
   height:650px;
   text-align: center;
   color: #fff;
   background-image: url('../assets/tealCover.jpg');
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center center;
   background-size: cover;
}
.button-2 {
   display: inline-block;
   margin: 5px;
   padding: 1em 2em;
   background: #fff;
   border: 2px solid tomato;
   border-radius: 3px;
   color: tomato;
   font-family: "Quicksand", sans-serif;
   font-size: 1em;
   font-weight: 700;
   letter-spacing: 0.02em;
   line-height: 1;
   text-decoration: none;
   text-transform: uppercase;
   cursor: pointer;
   transition: 0.3s;
 }
 .portfolio{
    background-color: #c9e5f6;
 }

 .button-2:hover {
   background: tomato;
   color: #fff;
 }
 .spacer{
   height:40px;
 }
 .main-page h3 {
   margin: 40px 0 0;
 }
 .main-page h1{
   padding-top:65px;
   color:white;
   font-size:4.0em;
   margin-bottom:0px;
 }
 .main-page h2{
   color:white;
   font-size:2em;
   margin-top:0px;
   margin-bottom:0.25em;
 }
   